


<div id="application">
    <p>{{message}}</p>
</div>


<script>
    var app = new Vue({
        el: '#application',
        data: {
            message: 'Категории автозапчастей',
            data: null
        },
        mounted() {

        }
    })
</script>