



<div id="editCategory">
    <div>
        <h1 class="text-center">Категории автозапчастей</h1>
        <div v-for="item in treeData">
            <ul class="categories-list p-0">
                <tree class="item"
                      v-on:edit="editItemForm"
                      v-on:addcategory="addCategory"
                      v-bind:item="item"
                      v-bind:make-folder="makeFolder"
                      v-bind:add-item="addItem"></tree>
            </ul>
        </div>
    </div>
    @*<div v-if="category.id != null" id="editCategoryForm">*@

    <div id="editCategoryForm" v-show="editClick == true">
        <table-component v-bind:mycategory="category"
                         v-bind:myrows="rows"
                         v-bind:mycolumns="columns"
                         v-on:updated="updated"
                         v-on:canceled="editClick = false"
                         v-on:add="addItemForm"
                         v-on:selected="itemSelect">
        </table-component>
    </div>
    <div v-if="idParent != null">
        <h3 class="text-center">Добавление подкатегории</h3>
        <addcategory-component v-on:cancel="idParent = null" v-on:added="addedcategory" v-bind:id="idParent"></addcategory-component>
    </div>
</div>


<script src="~/bundle/AdminCategory.js"></script>
<link href="~/css/admin/admin.css" rel="stylesheet" />
<link href="~/css/admin/categories.css" rel="stylesheet" />
