


<div id="application">
    <p>{{message}}</p>
    <p>{{data}}</p>
</div>

<div id="demo">
    <p>{{treeData}}</p>
    <h1 class="text-center">AVERAGE !!! ADMIN TABLE!</h1>
    <div v-for="item in treeData">
        <ul class="categories-list p-0">
            <tree-item class="item"
                       v-bind:item="item"
                       v-bind:make-folder="makeFolder"
                       v-bind:add-item="addItem"></tree-item>
        </ul>
    </div>
</div>

<!-- item template -->
<script type="text/x-template" id="item-template">
  <li>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md col-12">
          <div
            :class="{bold: isFolder}"
            v-on:click="toggle"
            v-on:dblclick="makeFolder">
            {{ item.name }}
            <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
          </div>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary p-1 m-1" v-on:click="editItem"><i class="far fa-edit"></i></button>
          <button class="btn btn-primary p-1 m-1" v-on:click="removeItem"><i class="fas fa-trash"></i></button>
        </div>
      </div>

      <ul v-show="isOpen" v-if="isFolder">

        <tree-item
          class="item"
          v-for="(child, index) in item.childrenCategories"
          :key="index"
          v-bind:item="child"
          v-bind:make-folder="$emit('make-folder', $event)"
          v-bind:add-item="$emit('add-item', $event)"
        ></tree-item>
        <li class="btn btn-primary add p-1 m-1" v-on:click="$emit('add-item', item)">Добавить</li>

      </ul>
    </div>



  </li>
</script>
<script>

    // define the tree-item component
    Vue.component("tree-item", {
        template: "#item-template",
        props: {
            item: Object
        },
        data: function () {
            return {
                isOpen: false
            };
        },
        computed: {
            isFolder: function () {
                return this.item.childrenCategories && this.item.childrenCategories.length;
            }
        },
        methods: {
            editItem: function () {
                // Функционал редактирования (перейти на страницу редактирования)

                //alert(this.item.id)
            },
            removeItem: function () {
                // Функционал редактирования (перейти на страницу редактирования)

                alert(this.item.id)
            },
            toggle: function () {
                if (this.isFolder) {
                    this.isOpen = !this.isOpen;
                }
            },
            makeFolder: function () {
                if (!this.isFolder) {
                    this.$emit("make-folder", this.item);
                    this.isOpen = true;
                }
            }
        }
    });

    // boot up the demo
    var demo = new Vue({
        el: "#demo",
        data: {
            treeData: null
        },
        mounted() {
            axios.get((urlApp + 'category/all'))
                .then(response => {
                    this.treeData = response.data
                });
        },
        methods: {

            makeFolder: function (item) {
                // Здесь создается подкатегория
                //alert(item.id)

                Vue.set(item, "childrenCategories", []);
                this.addItem(item);
            },
            addItem: function (item) {
                //alert(item.id)
                // Здесь создается итем в подкатегории


                item.childrenCategories.push({
                    name: "new stuff"
                });
            }
        }
    });
</script>

<script>
    var app = new Vue({
        el: '#application',
        data: {
            message: 'Категории автозапчастей',
            data: null
        },
        mounted() {

            axios.get((urlApp + 'category/all'))
                .then(response => {
                    this.data = response.data
                });
        }
    })
</script>

<link href="~/css/admin/admin.css" rel="stylesheet" />