

<h3>MAIN PAGE!!!</h3>
<h1>tested drops</h1>


<div id="application">
    <p>{{message}}</p>
</div>


<script>
    var app = new Vue({
        el: '#application',
        data: {
            message: 'Привет, Vue! MAIN',
            data: null
        },
        mounted() {

        }
    })
</script>