
<div id="application">
    <h2>tested!!!!</h2>
    <p>{{message}}</p>
</div>



<script>
    var app = new Vue({
        el: '#application',
        data: {
            message: 'Привет, test!',
            data: null
        },
        mounted() {

        }
    })
</script>