@model int

<h1>TEST</h1>
<h2>Редактирование категории</h2>
<form id="formEDITABLE" data-id="@Model" v-on:submit="SaveCategory">
    <div class="form-group">
        <label>Категория</label>
        <input v-model="category.name" type="text" class="form-control" placeholder="Название категории">
    </div>
    <h3 class="text-center">Свойства</h3>
    <table-component v-bind:myrows="rows"
                     v-bind:mycolumns="columns"
                     v-on:selected="itemSelect">
    </table-component>
    <div class="m-3 text-center">
        <button class="btn btn-primary" v-on:click.prevent="addItemForm">Добавить</button>
        <button class="btn btn-primary" v-on:click.prevent="editItemForm">Редактировать</button>
        <button class="btn btn-primary" type="button" v-on:click="removeItem">Удалить</button>
    </div>
    <div class="m-3 text-center">
        <button type="submit" class="btn btn-success">Сохранить</button>
        <button type="button" v-on:click="cancelEdit" class="btn btn-secondary">Отменить</button>
    </div>
    <div v-if="addedItem == true">
        <addform-component v-on:add="addItem" v-on:cancel="addedItem = false"></addform-component>
    </div>
    <div v-if="editItem == true && selectedItem != null">
        <addform-component v-on:save="editableItem" v-bind:editdata="selectedItem" v-on:add="addItem" v-on:cancel="editItem = false"></addform-component>
    </div>
</form>


